apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    prometheus: main
  name: prometheus
  namespace: monitoring
spec:
  endpoints:
  - port: web
  selector:
    matchLabels:
      operated-prometheus: "true"
